<!DOCTYPE html>
<html>
  <head>
    <title>FontX Glyph List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      i {
        display: inline-block;
        font: normal normal normal 50px/1 SourceFont;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 130px;
      }

      .row {
        clear: both;
        max-width: 1050px;
        margin: 35px auto;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
      }

      .row:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

      .col {
        float: left;
        width: 200px;
      }

      .col.icon-ref {
        padding: 35px;
        font-size: 20px;
        color: silver;
      }

      .col.header {
        height: 40px;
        padding: 0 5px;
        font-weight: bold;
        color: silver;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col icon-ref header"><%- fontFullName -%></div>
      <!-- <div class="col header">Font Icon</div> -->
      <div class="col header">SVG Image</div>
    </div>
    <!-- <img class="svg-icon" src="../points/E2ED" /> -->
    <!-- <% points.forEach(function(drink) { %> <%- drink.file -%><%}); %> -->
    <% points.forEach(function(i) {%>
    <div class="row">
      <div class="col icon-ref"><%- i.point -%></div>
      <div class="col">
        <img height="130" src="../points/<%- i.point -%>" />
      </div>
    </div>
    <%}); %>
  </body>
</html>
