<!DOCTYPE html>
<html>
  <head>
    <title>FontX Glyph List</title>
    <style>
      .row {
        clear: both;
        max-width: 1050px;
        margin: 35px auto;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
      }

      .row:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

      .col {
        float: left;
        width: 200px;
      }

      .col.icon-ref {
        padding: 35px;
        font-size: 20px;
        color: silver;
      }

      .col.header {
        height: 40px;
        padding: 0 5px;
        font-weight: bold;
        color: silver;
        text-align: center;
      }
      /* IMG force aspect ratio */
      img {
        display: block;
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col icon-ref header"><%- fontFullName -%></div>
      <!-- <div class="col header">Font Icon</div> -->
      <div class="col header">SVG Image</div>
    </div>
    <% points.forEach(function(i) {%>
    <div class="row">
      <div class="col icon-ref"><%- i.point -%></div>
      <div class="col">
        <a href="../points/<%- i.point -%>" target="_blank"
          ><img
            src="data:image/svg+xml;base64,<%- new Buffer(i.file).toString('base64') -%>"
        /></a>
      </div>
    </div>
    <%}); %>
  </body>
</html>
